@model prepaControle.Models.Chambre;
@{
    ViewData["Title"] = "Chambre - Modifier";
}


<h1>Chambre - Modifier</h1>


<form method="Post" asp-action="Modifier">
    <fieldset>
        <legend>Données chambre</legend>
        <div class="form-group row">
            <label for="Num" class="col-sm-2 col-form-label">Num</label>
            <div class="col-sm-10">
                <input asp-for="Num" readonly class="form-control">
            </div>
        </div>
        <div class="form-group row">
            <label for="Type" class="col-sm-2 col-form-label">Type</label>
            <div class="col-sm-10">
                <input asp-for="Type" class="form-control">
            </div>
        </div>
        <div class="form-group row">
            <label for="NumEtage" class="col-sm-2 col-form-label">NumEtage</label>
            <div class="col-sm-10">
                <input asp-for="NumEtage" class="form-control">
            </div>
        </div>
        <div class="form-group row">
            <label for="DateDebut" class="col-sm-2 col-form-label">DateDebut</label>
            <div class="col-sm-10">
                <input asp-for="DateDebut" class="form-control">
            </div>
        </div>
        <div class="form-group row">
            <label for="DateFin" class="col-sm-2 col-form-label">DateFin</label>
            <div class="col-sm-10">
                <input asp-for="DateFin" class="form-control">
            </div>
        </div>

        <button type="submit" class="btn btn-primary">Update</button>
    </fieldset>
</form>

